body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    object-fit: contain;
}

header {
    width: 100%;
    position: fixed;
    z-index: 99999;
}

#heading-container{
    padding-top: 0;
}

/* ---- Images ---- */
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

#real-groove-image {
    width: 100%;
    top: 0px;
    position: relative;
    background: url("../images/post/real-groove-aak.jpg") no-repeat center center;

    background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

#about-real-groove-image {
    height: 420px;
    width: 100%;
    justify-content: center;
    top: 80px;
    left: 10px;
    position: relative;
    background: url("../images/post/about-real-groove.jpg") no-repeat center center;

    background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

/* ---- Section ---- */
#section-landing-image,
#section-about-us,
#section-community-and-event,
#section-gallery {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    overflow: auto;
    object-fit: contain;
}

/* ---- About Us Section ---- */
#who-we-are p {
    width: 100%;
    left: 100px;
}

/* ---- Community Section ---- */
#section-community-and-event {
    background-color: #f5f377;
}

.post-user-image {
    border: 1px solid #ddd;
    border-radius: 50px; /* Rounded border */
    padding: 5px; /* 5px padding */
    width: 10%; /* Set a small width of 50px*/
}

.post-user-image:hover {
    box-shadow: 0 0 2px 1px #bf360c;
    cursor: pointer;
}

#community-messages {
    margin-top: 10px;
    height: 645px;
    overflow-y: scroll;
    border: 2px solid #bf360c;
}

#community-calendar {
    margin-top: 10px;
    border: 2px solid #bf360c;
    margin-bottom: 1rem!important;
}

/* ---- Gallery Section ---- */
#section-gallery {
    padding-bottom: 50px;
    object-fit: contain;
}

.post-gallery {
    border: 1px solid #ddd;
    padding: 5px; /* 5px padding */
    width: 50px; /* Set a small width of 50px*/
}

.post-gallery:hover {
    box-shadow: 0 0 2px 1px #bf360c;
    cursor: pointer;
}

#real-groove-gallery {
    width: 100%;
    object-fit: contain;
    border: 2px solid #bf360c;
    margin-right: 20px;
}

/* ---- Container ---- */
.container-fluid {
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 40px;
}

.content-container {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-lg-8, .col-md-auto {
    padding-right: 0px;
    padding-left: 0px;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

/* ---- Navbar ---- */
.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    float: top;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #bf360c;
    color: #ffffff;
    opacity: 80%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font-size: 150%;
}

.navbar:hover {
    background: #bf360c;
    cursor: pointer;
}

.dropdown-menu, .dropdown-item {
    background: #bf360c;
    color: #fafafa;
}

.dropdown-menu:hover {
    background: #bf360c;
    color: #212529;
}

.btn-nav {
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.btn-nav:hover {
    background: #bf360c;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* ---- Modal ---- */
.modal {
    color: black;
    height: 800px;
    width: 100%;
    margin-top: 60px;
}

.btn-modal {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #5a5a5a;
    border-radius: 20px;
    margin-top: 5px;
    height: 50px;
    width: 50%;
    padding: 0;
    float: right;
}

.btn-modal:hover {
    background: #bf360c;
    color: #fff;
    cursor: pointer;
}
/* ---- Media Screen ---- */
@media only screen and (min-width: 1200px) {
    #real-groove-image {
        height: 1200px;
    }
}

@media only screen and (min-width: 992px) {
    #real-groove-image {
        height: 992px;
    }
}

@media only screen and (min-width: 768px) {
    #real-groove-image {
        height: 800px;
    }
}

@media only screen and (min-width: 600px) {
    #who-we-are {
        margin-bottom: 20px;
        padding: 10px;
        height: 600px;
        overflow-y: scroll;
        border: 2px solid #bf360c;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin-left: 5px;
    }

    #real-groove-image {
        height: 400px;
    }

    .social-network {
        flex-direction: row;
        letter-spacing: 1.5em;
    }

    .col-lg-8, .col-md-auto {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 400px) {
    #real-groove-image {
        height: 320px;
    }
}