body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    padding-top: 0;
    object-fit: contain;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0px;
    border: 0px;
    z-index: 99999;
}

#heading-container{
    padding-top: 0;
}

#body-section {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 80px;
}

h2 {
    letter-spacing: 4px;
    color: #f3752c;
}

footer {
    height: 85px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
}

#who-we-are p {
    width: 100%;
    left: 100px;
}

/* ---- Images ---- */
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

#real-groove-image {
    height: 800px;
    width: 100%;
    top: 0px;
    position: relative;
    background: url("../images/post/real-groove-aak.jpg") no-repeat center center;

    background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

#about-real-groove-image {
    height: 500px;
    width: 100%;
    top: 0px;
    position: relative;
    background: url("../images/post/about-real-groove.jpg") no-repeat center center;

    background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

#section-landing-image,
#section-about-us,
#section-community-and-event,
#section-gallery {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    overflow: auto;
    object-fit: contain;
}

#section-community-and-event {
    background-color: #f5f377;
}

#section-gallery {
    padding-bottom: 50px;
    object-fit: contain;
}

#real-groove-thumbnail {
    padding: 0;
    border: 0;
    margin: 0 10px 0 10px;
}

/* ---- Container ---- */
.container-fluid {
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 40px;
}

.content-container {
    margin-left: 10px;
}

.callout-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.features {
    margin: 0;
    padding: 0;
    border: 0;
}

.col-lg-8, .col-md-auto {
    padding-right: 0px;
    padding-left: 0px;
}


/* ---- Navbar ---- */
.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    float: top;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #bf360c;
    color: #ffffff;
    opacity: 80%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font-size: 150%;
}

.navbar .navbar-generate-content-header {
    height: calc(100vh - 20px) !important;
}

.navbar:hover {
    background: #bf360c;
    color: #fafafa;
    cursor: pointer;
}

.dropdown-menu {
    background: #bf360c;
    background-color: #d9fa45;
    color: rgb(61, 65, 40);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.btn-nav {
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.btn-nav:hover {
    background: #bf360c;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* ---- API Links ----- */
#community-calendar {
    object-fit: contain;
    position: relative;
    margin-top: 20px;
}

/* ---- Modal ---- */
.modal {
    color: black;
    height: 800px;
    width: 100%;
    margin-top: 60px;
}

.btn-modal {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #5a5a5a;
    border-radius: 20px;
    margin-top: 5px;
    height: 50px;
    width: 50%;
    padding: 0;
    float: right;
}

.btn-modal:hover {
    background: #f3752c;
    color: #fff;
    cursor: pointer;
}

#whats-on-your-mind {
    height: 250px;
}

/* ---- Community ---- */
.post-user-image {
    border: 1px solid #ddd;
    border-radius: 50px; /* Rounded border */
    padding: 5px; /* 5px padding */
    width: 50px; /* Set a small width of 50px*/
}

.post-user-image:hover {
    box-shadow: 0 0 2px 1px #f3752c;
    cursor: pointer;
}

#community-messages {
    margin-top: 20px;
    height: 630px;
    overflow-y: scroll;
}

.post-gallery {
    border: 1px solid #ddd;
    padding: 5px; /* 5px padding */
    width: 50px; /* Set a small width of 50px*/
}

.post-gallery:hover {
    box-shadow: 0 0 2px 1px #f3752c;
    cursor: pointer;
}

#real-groove-gallery {
    height: 100%;
    width: 90%;
    object-fit: contain;
    border: 10px 10px 10px 10px;
    margin-right: 20px;
}

/* ---- Media Screen ---- */
@media only screen and (min-width: 600px) {
    .hide-header-navigation-item {
        display: none !important;
    }

    #who-we-are {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #f3752c;
        height: 512px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .hide-footer-navigation-item {
        display: none !important;
    }

    .show-header-navigation-item {
        display: block !important;
    }

    #about-real-groove-image {
        left: 0px;
    }

    .container {
        margin-left: 5px;
    }

    #real-groove-image {
        height: 512px;
    }

    #body-section {
        margin-bottom: 0px;
    }

    .social-network {
        border-top-color: solid black;
        flex-direction: row;
    }

    .col-lg-8, .col-md-auto {
        padding-right: 5px;
        padding-left: 5px;
    }
}
